@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alan Sans';
    overflow: hidden;
}


body{
    background-color: rgb(22, 25, 30);
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    
}

h1{
    font-weight: 500;
    color: rgb(113, 121, 133);
    font-size: 40px;
}

.music{
    
    display: flex;
    width: 100%;
    height: 100px;
}

iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    margin: auto;
}

.pics-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 12px;
}

.pics-card:hover .photo{
    animation-play-state: paused;
    
}

.photo{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 100%;
    animation: slide 24s linear infinite;
    animation-delay: var(--delay);
    overflow: hidden;
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay{
  position: absolute;
  height: 100%;
  inset: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.0rem;
  opacity: 0;
  transition: opacity  ease-in-out;
}

.pics-card .photo:hover .overlay{
    opacity: 1;
    
}

.text-card{
    
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}

.clickBtn{
  position: absolute;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(195, 44, 87);
}

.closeText{
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: none;
  color:  rgb(149, 155, 165);
  background-color: rgba(12, 12, 12, 0.2);
  visibility: visible;
}

.text{
    color: rgb(113, 121, 133);
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    text-align: center;
}

.heart {
  position: absolute;      /* necessário para controlar a posição */
  top: 0;                  /* começa no topo */
  font-size: 40px;         
  animation: cair 7s linear infinite; 
  animation-delay: var(--delay);
  opacity: 0;
}

#heart1{
  left: 10%;               
}
#heart2{
  left: 20%;               
}
#heart3{
  left: 30%;               
}
#heart4{
  left: 40%;               
}
#heart5{
  left: 50%;               
}
#heart6{
  left: 60%;               
}
#heart7{
  left: 70%;               
}
#heart8{
  left: 80%;               
}
#heart9{
  left: 90%;               
}
#heart10{
  left: 90%;               
}



@keyframes cair {
  from {
    top: -200px;           /* começa fora da tela (acima) */
    opacity: 1;
  }
  to {
    top: 100vh;           /* vai até o final da tela */
    opacity: 0.4;         /* opcional: desaparece levemente */
  }
}

@keyframes slide {
 from {
    right: 100%;
 }

  to{
    right: -200px;
  }
}












